<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ 'erreur.exception'|trans }}: {{ status_text }}</title>
    <link rel="stylesheet" href="{{ asset ('Resources/TwigBundle/views/css/error.css') }}">
</head>
<body>
<h1>Oops! {{'erreur.exception'|trans  }}</h1>
<h2> "{{ status_code }} {{ status_text }}".</h2>

<div>
   {{ 'texte.exception'|trans }}
</div>
</body>
</html>