{% extends 'ABCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'paiement.titre' |trans }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="main">
        <div class="payment_block">
            <div class="payment">
                <h1 class="text-center">{{ 'choix.paiement' | trans }}</h1>
                <p class="montant col-lg-offset-5 col-md-offset-5 col-sm-5 col-xs-offset-4"><b>{{ 'montant.message' |trans }} : {{ val_commande.tarif }}€</b></p>
            </div>

            {% for message in app.session.flashbag.get('error') %}
                <div class="alert square fade in alert-dismissable text-center col-lg-4 col-lg-push-4 col-md-4 col-md-push-4 col-sm-4 col-sm-push-4 col-xs-4 col-xs-push-4">
                    <i class="fa fa-check"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            <div class="bouton">
                <div class="row">
                    <div class="stripe col-xs-offset-2 col-sm-pull-1 col-sm-3 col-md-3 col-lg-push-1 col-lg-3">
                        <form action="{{ path('ab_core_stripe', {'id': val_commande.id}) }}" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_NHnOC4NL0JVZGhMuDumzLF0x"
                                    data-image="{{ asset('bundles/abcore/images/le-musee-du-louvre.jpg') }}"
                                    data-amount="{{ stripe_montant }}"
                                    data-address='true'
                                    data-currency='eur'
                                    data-name='Musée du Louvre'
                                    data-description='Montant de la transaction'
                                    data-panel-label='Valider'
                            ></script>
                        </form>
                    </div>

                    <div class="paypal col-xs-offset-5 col-sm-3 col-md-3 col-lg-3 col-lg-push-1">
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

                            <!-- Identify your business so that you can collect the payments. -->
                            <input type="hidden" name="business" value="LGLLE9WX9ER32">

                            <!-- Specify a Buy Now button. -->
                            <input type="hidden" name="cmd" value="_xclick">

                            <!-- Specify details about the item that buyers will purchase. -->
                            <input type="hidden" name="item_name" value="Réservation billetterie Musée du Louvre">
                            <input type="hidden" name="amount" value="{{ val_commande.tarif }}">
                            <input type="hidden" name="currency_code" value="EUR">

                            <!-- Display the payment button. -->
                            <input type="image" name="submit" border="0"
                                   src="https://www.paypalobjects.com/fr_FR/i/btn/btn_buynow_LG.gif"
                                   alt="PayPal - The safer, easier way to pay online">
                            <img alt="" border="0" width="1" height="1"
                                 src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" >
                        </form>
                    </div>

                    <div class="annulation col-xs-offset-8 col-sm-push-1 col-sm-3 col-md-push-1 col-md-3 col-lg-push-2 col-lg-3">
                        <a class="btn btn-danger" href="{{ path('ab_core_accueil')}}" role="button">{{ 'annulation' |trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}