{% extends 'ABCoreBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'partage.titre' |trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="partage_block">
                <p class="well partage text-center col-lg-6 col-lg-offset-3">
                    {{'transaction.succes' | trans }}<br>
                    {{'merci.partage' |trans }}<br>
                    {{'email.partage' |trans }}<br>
                    {{'reseaux.partage' | trans }}
                </p>
                <div class="fb-share-button  col-md-offset-4 col-sm-offset-4 col-xs-offset-3" data-href="http://localhost/louvre/web/app_dev.php/fr/" data-layout="button" data-mobile-iframe="true"></div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <div class="tweeter col-md-offset-7 col-sm-offset-7 col-xs-offset-7">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost/louvre/web/app_dev.php/fr/" data-text="{{'tweet.partage' |trans }}">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>

                <div class="accueil col-xs-offset-10 col-sm-offset-10 col-md-offset-10">
                    <a class="btn btn-default" href="{{ path('ab_core_accueil')}}" role="button">{{ 'accueil' |trans }}</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}