<page>

    {% for commande in commandes %}

        <img src="C:/wamp/www/louvre/web/bundles/abcore/images/logo-louvre bis.jpg">
        <p><b>{{ 'musee.pdf'|trans }}</b></p>

        <p><b>{{ 'date.pdf'|trans }}:</b> {{ commande.dateResa|date("d/m/Y") }}</p>
        <p><b>{{ 'nom.pdf'|trans }}:</b> {{commande.nom }}</p>
        <p><b>{{ 'tarif.pdf'|trans }}:</b> {{ commande.tarif }} €</p>
        <p><b>{{ 'code.pdf'|trans }}:</b> {{ commande.codeResa }}</p>
        <img src="{{ qrcode_data_uri(commande.qrCode, { size: 100, padding: 10 }) }}" />

        <hr>
    {% endfor %}
</page>


