<page>
    <style type="text/css">
        #hello{
            color: #002549;
            font-family: Helvetica, sans-serif;
            text-align:center;
            font-size: 40px;
        }
    </style>

    {% for value in commande %}

    <img src="{{ asset('bundles/abcore/images/logo-louvre bis.jpg') }}"/>
        <p><b>{{ 'musee.pdf'|trans }}</b></p>

    <p><b>{{ 'date.pdf'|trans }}:</b> {{ value.dateResa|date("d/m/Y") }}</p>
    <p><b>{{ 'nom.pdf'|trans }}:</b> {{ value.nom }}</p>
    <p><b>{{ 'tarif.pdf'|trans }}:</b> {{ value.tarif }} €</p>
    <p><b>{{ 'code.pdf'|trans }}:</b> {{ value.codeResa }}</p>
        <img src="{{ qrcode_data_uri(value.qrCode, { size: 200, padding: 10 }) }}" />

        <hr>
    {% endfor %}
</page>


