{% extends 'ABCoreBundle::layout.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/abcore/css/bootstrap-datepicker3.min.css') }}">
{% endblock %}
{% block title %}
{{ parent() }} - réservation
{% endblock %}

{% block body %}

<div class="form">
    <h1 class="text-center">Merci de remplir le formulaire</h1>
    {% if error != "" %}
        <p>{{ error }}</p>
    {% endif %}
    <div class="form2 col-md-offset-3">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.quantite, "Quantité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {{ form_errors(form.quantite) }}

            <div class="col-md-1">
                {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {% if error1 != "" %}
            <p>{{ error1 }}</p>
        {% endif %}
        <div class="form-group">
            {{ form_label(form.type, "Type de billet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.type) }}
            <div class="col-md-3">
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.date, "Jour de la visite", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {{ form_errors(form.date) }}

            <div class="col-md-3">
                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email, "Votre email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {{ form_errors(form.email) }}

            <div class="col-md-4">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-md-offset-4">
            {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>

        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

{% block jquery %}
    {{ parent() }}
    <script src="{{ asset ('bundles/abcore/js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#billet_date').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                language: "fr",
                daysOfWeekDisabled: "0,2",
                autoclose: true
            });
        });
    </script>
{% endblock %}